.App {
  margin-top: 100px;
  text-align: center;
}

.homepage {
  text-align: center;
  background-color: #e6e6e6;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.page {
  margin-top: 20px;
}

.container {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.list {
  margin-left: 20%;
  margin-right: 20%;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}